@(app: controllers.Application)(implicit configuration: play.api.Configuration)

@main(app, "Scaffold Trend Explorer") {
    @menu("compounds", configuration)
} {
    <div class="container vertical-center" id="main-box">

        <div class="row">

            <div class="col-md-12">

                <div class="page-header">
                    <h1>About (v@app.APP_VERSION)</h1>
                </div>


                <p>Scaffolds are a core concept in medicinal chemistry and they can be the focus of multiple
                    independent development efforts, over an extended period. Thus, scaffold associated
                    properties can vary over time, possibly showing consistently increasing or decreasing trends.
                    We posit that such trends characterize the attention that the community pays to a scaffold.</p>
                <p>This application allows you to query <a href="https://www.ebi.ac.uk/chembl/">ChEMBL</a>
                    for a scaffold (represented as a SMILES) and visualize properties of the compounds containing
                    the scaffold over time. This functionality is analogous to
                    <a href="https://trends.google.com/trends/">Google Trends</a>.</p>
                <p>Currently the properties considered are</p>
                <ul style="padding-left: 2em;">
                    <li>Unique compound counts</li>
                    <li>Tested assay count</li>
                    <li>Z-scored bioactivity</li>
                    <li>Solubility (log S at pH = 7.4), computed using <a href="https://www.optibrium.com/stardrop/stardrop-features.php">
                        StarDrop</a></li>
                    <li>Fsp3 (fraction of sp3 carbons, a measure of 3D-ness)</li>
                    <li>Chemical beauty, a measure of drug-likeness described in
                        Bickerton et al, (<a href="https://www.nature.com/nchem/journal/v4/n2/full/nchem.1243.html"><i>Nat. Chem. Biol.</i>, <b>2012</b>, <i>4</i>(2), 90-98</a>).
                    <li>Synthetic accessibility, based on the RDKit <a href="">implementation</a> of the
                    method by Ertl &amp; Schuffenhauer (<a href="http://www.jcheminf.com/content/1/1/8">J. Cheminf., <b>2009</b>, <i>1:8</i></a>)</li>
                </ul>
                <p>As you might expect, very small or commonly occurring scaffolds can result in long
                    query times. We currently employ some simple heuristics to avoid querying for such
                    cases.</p>

                <p>For feedback and issues, please contact
                    <a href="mailto:guhar@@mail.nih.gov"><code>guhar@@nih.gov</code></a>
                </p>

                <p class="lead">How can I cite this application?</p>
                <p>If you find this application useful, consider citing
            <blockquote class="blockquote">
                Zdrazil, B. and Guha, R., <i>J. Med. Chem.</i>, <b>2017</b>, ASAP. DOI:
                <a href="http://dx.doi.org/10.1021/acs.jmedchem.7b00954">10.1021/acs.jmedchem.7b00954</a>
            </blockquote>

                <p class="lead">Frequently Asked Questions</p>
                <dl>
                    <dt>What version of ChEMBL are you using?</dt>
                    <dl>We currently use ChEMBL v23</dl>
                    <dt>What is the application written in?</dt>
                    <dl>We use the <a href="https://www.playframework.com/">Play</a> framework, with a
                    <a href="https://www.postgresql.org/">PostgreSQL</a> backend, and <a href="http://www.rdkit.org/">RDKit</a>
                        to support cheminformatics operations. Plotting is enabled using <a href="https://www.highcharts.com/">
                            HighCharts</a></dl>
                    <dt>Where can I get the sources for this application?</dt>
                    <dl>You can get the source code for this application from its Git <a href="https://spotlite.nih.gov/ncats/scaffold-trend-explorer">
                        repository</a>, where you can find instructions on compiling and depoying
                    </dl>
                    <dt>Where can I report bugs or feature requests?</dt>
                    <dl>You can email Rajarshi Guha at <a href="mailto:guhar@@mail.nih.gov"><code>guhar@@nih.gov</code></a>, but
                    filing issues on the <a href="https://spotlite.nih.gov/ncats/scaffold-trend-explorer/issues">tracker</a>
                    is preferred (and will have a better chance of being addressed)</dl>
                    <dt>Which ChEMBL assays do you consider?</dt>
                    <dl>Currently we consider all assays with units of <code>Ki</code> or <code>IC50</code>, with at least 5
                    observations, and median absolute deviation of the activity values greater than 0.No constraints are
                    applied to species or targets</dl>
                    <dt>How is bioassay activity calculated?</dt>
                    <dd>We first compute the median and <a href="https://en.wikipedia.org/wiki/Median_absolute_deviation">
                        MAD</a> for each assay that has a <code>standard_type</code> of <code>Ki</code> or <code>IC50</code>.
                    We then remove assays with less than 5 observations or a MAD = 0 (correct to 4 decimal places). Next
                    we use the median and MAD values for each assay to convert the <code>standard_value</code>'s to
                    robust <a href="https://en.wikipedia.org/wiki/Z-factor">Z-scores</a>. The robust Z-scores are used
                    to compute the median bioactivity trends. Currently no constraints are applied to target or species.</dd>
                </dl>

            </div>
        </div>
    </div>
}
