

@(form: Form[TrendForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Scaffold Trend Explorer") {


    <div class="row">
        <div class="col-1">
            Some blurb about the app
        </div>
    </div>

    <div class="row">
        @helper.form(postUrl) {
            @helper.CSRF.formField
            @helper.inputText(form("smiles"))
            @helper.select(form("property"),
                options = Seq(
                    "compounds" -> "Compounds",
                    "assays" -> "Assays"
                ),
                '_selected -> "Compounds",
                '_label -> "Trend"
            )
            <button>Search</button>
        }
    </div>

    <div class="row">
        <div class="col-lg-8" id="plotDiv">

        </div>
        <div class="col-lg-4" id="controlDiv">

        </div>
    </div>

}
