@import play.api.Configuration

@(property: String, configuration: play.api.Configuration)

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <span class="navbar-brand navbar-nav">


                <a href="@controllers.routes.Application.index()"
                target="_self" alt ="Home"
                aria-label="Return Home"
                title="Return Home">
					<span class="sr-only">Return Home</span>
					<span class="logo-header">Scaffold Trend Explorer</span>
                </a>
                <a href="http://www.ncats.nih.gov"
                                title="National Center for Advancing Translational Sciences | Homepage"
                                target="new">
                                    <img style="visibility:hidden;" src="@routes.Assets.versioned("ginas/images/ncats.svg")" alt="ncats logo" class="img-responsive" id="logo">
                                </a>
            </span>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i> </a>
                    <ul class="dropdown-menu">
                    @defining(configuration.get[Seq[Configuration]]("bookmarks.entries").sortBy(_.get[String]("name"))) { configs =>
                        @configs.map { config =>
                            <li><a class='bmlink' smiles='@config.asInstanceOf[Configuration].get[String]("smi")'>@config.asInstanceOf[Configuration].get[String]("name")</a></li>
                        }
                    }
                    </ul>
                </li>
                <li><a href="@controllers.routes.Application.about()"> <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> </a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>

    </div>
</nav>
