<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/ste">STE</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bookmarked Scaffolds<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ste/search?smiles=C1CC2(CCNCC2)C2=CC=CC=C12&property=compounds">Spiroindanypiperadine</a></li>
                        <li><a href="/ste/search?smiles=C1=CN2C=CC=CC2=C1&property=compounds">Indolizine</a></li>
                        <li><a href="/ste/search?smiles=C1=CC2=C(C=C1)N=CC=C2&property=compounds">Quinoline</a></li>
                        <li><a href="/ste/search?smiles=C1CC2CCC3C%28CCC4CCCCC34%29C2C1&property=compounds">Steroid core</a></li>
                        <li><a href="/ste/search?smiles=C1COC1&property=compounds">Oxetane</a></li>
                        <li><a href="/ste/search?smiles=O%3DC1CSC%28%3DS%29N1&property=compounds">Rhodanine</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@controllers.routes.Application.about()">About</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>

    </div>
</nav>
