@(form: Form[TrendForm.Data], postUrl: Call, property: String, smoothCurve: Boolean)(implicit request: MessagesRequestHeader)

<head>
    <script src='@routes.Assets.versioned("javascripts/marvin/js/marvinjslauncher.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/marvin/js/webservices.js")'></script>

    <script type="text/javascript">
            var marvin;
            var marvinSketcherInstance;

            $(document).ready(function () {

                $(".bmlink").on("click", function () {
                    $('#@form("smiles").name').val($(this).attr("smiles"));
                });


                $("#close").bind("click", function () {
                    editorControl.close();
                });

                MarvinJSUtil.getPackage("sketch").then(function (marvinNameSpace) {
                    marvinNameSpace.onReady(function () {
                        marvin = marvinNameSpace;
                    });
                }, function () {
                    alert("Cannot retrieve marvin instance from iframe");
                });

                MarvinJSUtil.getEditor("sketch").then(function (sketcherInstance) {
                    marvinSketcherInstance = sketcherInstance;
                    editorControl.open();
                }, function () {
                    alert("Cannot retrieve sketcher instance from iframe");
                });

                var editorControl = (function () {
                    var controlObject = {
                        "open": function openEditor() {
                        }, "close": function closeEditor() {
                            if (marvinSketcherInstance != null) {
                                var mol = marvinSketcherInstance.exportAsMol();
                                $.ajax({
                                    url: "@controllers.routes.Application.molconvert",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        "structure": mol,
                                        "inputFormat": "mol",
                                        "parameters": "smiles"
                                    })
                                }).done(function (data, textStatus, jqXHR) {
                                    $("#smiles").val(data['structure']);
                                });
                            }
                            $("#popup").css("visibility", "hidden");
                            $("#popup").css("opacity", 0);
                        }
                    };
                    return controlObject;
                }());

                $("#showSketcher").on("click", function () {
                    $("#popup").css("visibility", "visible");
                    $("#popup").css("opacity", 1);
                });
            });

    </script>
</head>


<div id="popup" class="popup-window" style="position: fixed;
    z-index: 100;
    visibility: hidden;
    opacity: 0;">
    <div class="wrapper">
        <div id="title-bar"><input id="close" type="button" class="close-button" value="Done ×"></div>
        <div id="sketchContainer">
            <iframe class="sketcher-frame" id="sketch" src="@controllers.routes.Application.marvin()"
            style="overflow: hidden;
                min-width: 500px;
                min-height: 450px;
                border: 1px solid darkgray;"></iframe>
        </div>
    </div>
</div>

    @helper.form(postUrl, 'class -> "form-inline") {
        <div class="col-1" style="padding-top: 2em;
            padding-bottom: 0.5em;">
            <div class="form-group">
                @helper.CSRF.formField
                <a title="Draw a structure" id="showSketcher" class="btn btn-default"><i class="fa fa-flask" aria-hidden="true"></i></a>
                <input type="text" class="form-control" placeholder="Enter a SMILES string" size="45" id='@form("smiles").name' name='@form("smiles").name'>
                <select title="Property whose trend will be computed" class="form-control" id='@form("property").name' name='@form("property").name'>
                    <option value="compounds" @if(property.equals("compounds")) { selected }>Compounds</option>
                    <option value="assays" @if(property.equals("assays")) { selected }>Assays</option>
                    <option value="logS" @if(property.equals("logS")) { selected }>Solubility</option>
                    <option value="Fsp3" @if(property.equals("Fsp3")) { selected }>Fsp3</option>
                    <option value="qed" @if(property.equals("qed")) { selected }>Chemical Beauty</option>
                </select>
                <button type="submit" class="btn btn-info">Search</button>
                <br>
                <label>
                    <input disabled type="checkbox" class="form-control" id='@form("allowSmallFragments").name'
                    name='@form("allowSmallFragments").name'>
                    <label style='color: #ccc;' for='@form("allowSmallFragments").name' class="control-label">Allow small fragments</label>
                    &nbsp;&nbsp;
                    <input type="checkbox" class="form-control" id='@form("smoothCurve").name'
                    name='@form("smoothCurve").name' @if(smoothCurve) {checked}> Smooth curve
                </label>
            </div>
        </div>
    }

