@(form: Form[TrendForm.Data], postUrl: Call, property: String, smiles: Seq[String], smiColMap: Map[String, String],
        trendData: Map[String, Map[Int, Int]])(implicit request: MessagesRequestHeader)


@getYaxisLabel(s: String) = @{
    s match {
        case "compounds" => "Unique Compound Count"
        case "assays" => "Tested Bioassays"
        case "jifs" => "Median JIF Rank"
        case "beauty" => "Molecular Beauty"
        case "3dness" => "3dness"
        case "complexity" => "Molecular Complexity"
    }
}

@main("Scaffold Trend Explorer") {

    <div class="row">
        @helper.form(postUrl) {
            @helper.CSRF.formField
            @helper.inputText(form("smiles"))
            @helper.select(form("property"),
                options = Seq(
                    "compounds" -> "Compounds",
                    "assays" -> "Assays"
                ),
                '_selected -> "Compounds",
                '_label -> "Trend"
            )
            <button>Search</button>
        }
        @*<form class="form-inline"role="search" method="GET" action="@controllers.routes.Application.search(null)">*@
        @*<div class=" form-group">*@
        @*<input type="text" class="form-control"*@
        @*id="smilesTextField" aria-describedby="smilesHelp" placeholder="Enter SMILES">*@
        @*<button type="button" class="btn btn-info" id="structureSearchDialog">*@
        @*<i class="fa fa-cog fa-fw" aria-hidden="true"></i>*@
        @*</button>*@
        @*<button type="submit" class="btn btn-primary">Search</button>*@
        @*</div>*@
        @*</form>*@
    </div>

    <div class="row">
    @for(s <- smiles) {
        <div class="col-md-2">
            <div class="card" id="card-@s">
                <img class="card-img-top btn"
                src="https://tripod.nih.gov/servlet/renderServletv12/?structure=@s&size=75&format=svg"
                alt="@s" style="border-width: 5px;
                    border-color:
                @smiColMap(s);">
                <div class="card-block"></div>
            </div>
        </div>
    }
    </div>
    <div class="row">
        <div class="col-lg-8" id="plotDiv">

        </div>
        <div class="col-lg-4" id="controlDiv">

        </div>
    </div>

    <script type="text/javascript">

            $(function () {
                var myChart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'plotDiv',
                        type: 'line',
                        marginBottom: 25
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        title: {
                            text: ''
                        }
                    },
                    yAxis: {
                        title: {
                            text: '@getYaxisLabel(property)'
                        }
                    },
                    series: [
                        @for( (smi,cmap) <- trendData ) {
                        {
                            name: '@smi',
                            showInLegend: false,
                            color: '@smiColMap(smi)',
                            data: [
                                @for( (x,y) <- cmap.toList.sortWith(_._1 < _._1) ) { [@x, @y], }
                            ]
                        },
                        }
                    ]
                });
            });
    </script>

}
